footer.footer
  .footer-container
    .footer-column
      h3.footer-header Features
      ul.footer-links
        li.footer-item
          a.footer-item-link(href="#") Home
        li.footer-item
          a.footer-item-link(href="#") Product  
        li.footer-item
          a.footer-item-link(href="#") Examples
        li.footer-item
          a.footer-item-link(href="#") Pricing
    .footer-column
      h3.footer-header Features
      ul.footer-links
        li.footer-item
          a.footer-item-link(href="#") Home
        li.footer-item
          a.footer-item-link(href="#") Product  
        li.footer-item
          a.footer-item-link(href="#") Examples
        li.footer-item
          a.footer-item-link(href="#") Pricing
    .footer-column
      h3.footer-header Features
      ul.footer-links
        li.footer-item
          a.footer-item-link(href="#") Home
        li.footer-item
          a.footer-item-link(href="#") Product  
        li.footer-item
          a.footer-item-link(href="#") Examples
        li.footer-item
          a.footer-item-link(href="#") Pricing
    .footer-column.col-large
      h3.footer-header Subscribe to newsletter
      ul.footer-links
        li.footer-item
          a.footer-item-link(href="#") Home
        li.footer-item
          a.footer-item-link(href="#") Product  
        li.footer-item
          a.footer-item-link(href="#") Examples
        li.footer-item
          a.footer-item-link(href="#") Pricing
