header.header
  .header-container
    a.header-logo(href="#") Conflux
    ul.header-nav
      //- li.header-nav-item
      //-   a.header-nav-link(href="./") Home
      li.header-nav-item
        a.header-nav-link(href="./product") Product
      li.header-nav-item
        a.header-nav-link(href="./examples") Examples
      li.header-nav-item
        a.header-nav-link(href="#") Pricing
      .header-nav-split
        li.header-nav-item.header-nav-item--login
          a.header-nav-link(href="#") Login
        li.header-nav-item
          a.btn.btn-outline.header-btn(href="#") Get Started
