extends partials/base


block content
  .hero
    .hero-content
      h1.home-title #{home.title}
      p.home-leader #{home.leader}
      .hero-form.form-inline
        input.cap-right(placeholder="Enter email address")
        button.btn.btn-primary.cap-left Get Started
      .hero-image
