.btn
  background: $color-button
  display: block
  text-decoration: none
  border-radius: $border-radius
  padding: 0 $space-small
  border: none
  border-color: $color-primary

  &.btn-small
    height: 36px
    line-height: 34px

  &.btn-primary
    color: $color-white

  &.btn-outline
    border: 1px solid $color-button
    background: none
    color: $color-primary
