* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder { /* Chrome */
  color: color($color-text lightness(70%));
}

:-ms-input-placeholder { /* IE 10+ */
  color: color($color-text lightness(70%));
}

::-moz-placeholder { /* Firefox 19+ */
  color: color($color-text lightness(70%));
  opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: color($color-text lightness(70%));
  opacity: 1;
}

body {
  background: $color-background;
  font-family: $font-family;
  color: $color-text;
  line-height: $line-height;
  font-size: $font-size-base;
}

a {
  color: $color-link;

  &:hover {
    color: $color-link;
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-weight: normal;
}

h1, .heading-1 {
  font-size: $font-size-xxx-large;
}

h2, .heading-2 {
  font-size: $font-size-xx-large;
  line-height: $line-height-tight;
}

h3, .heading-3 {
  font-size: $font-size-x-large;
}

h4, .heading-4 {
  font-size: $font-size-large;
}

h5, .heading-5 {
  font-size: $font-size-medium;
}

h6, .heading-6 {
  font-size: $font-size-body;
}

.body-leader {
  font-size: $font-size-medium;
}
// Common
.container {
  width: 100%;
  max-width: $width-page-max;
  margin: 0 auto;
  padding: 0 2em;
}

// Border Radius Capping
.cap-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cap-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
