.footer {
  color: $color-footer-link;
}
.footer-container {
  lost-column: 1/1;
  margin: calc($space-x-large) 0;
}
.footer-column {
  lost-column: 1/5 0 24px;

  &.col-large {
    lost-column: 2/5 2 24px;

    input {
      width: 80%;
    }
  }
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-header {
  font-size: $font-size-body;
  margin-bottom: $space-x-small;
  font-weight: $font-weight-bold;
}

.footer-item-link {
  color: $color-footer-link;
  text-decoration: none;
}
