$color-dark: #1F2D3D;
$color-dark-secondary: #6C7B91;
$color-cyan: #03B7F2;
$color-light: #ACB6C5;
$color-white: #fff;
$color-extra-light: #E5E9F3;

$color-primary: $color-cyan;
$color-background: white;


$color-button: $color-primary;
$color-heading: $color-dark;
$color-border: $color-extra-light;
$color-muted: $color-light;
$color-text: $color-dark-secondary;
$color-text-dark: $color-dark;
$color-link: $color-primary;
$color-input: $color-muted;

$color-header-link: $color-text;
$color-header-link-active: $color-primary;

$color-footer-link: $color-text;
$color-footer-link-active: $color-primary;
