@import 'normalize.css';

@import './tokens/*.css';
@import './mixins/*.css';
@import './pages/*.css';
@import './partials/*.css';

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $color-background;
  font-family: $font-family;
}
